*.pkl !text !filter !merge !diff
data/* !text !filter !merge !diff
*.md !text !filter !merge !diff
*.ipynb !text !filter !merge !diff
*.py !text !filter !merge !diff
*.csv !text !filter !merge !diff
*.txt !text !filter !merge !diff
*.yml !text !filter !merge !diff
*.json !text !filter !merge !diff
*.pyc !text !filter !merge !diff
